# Python Fundamentals: Complete Introduction

## Table of Contents
1. [Data Types and Operations](#data-types-and-operations)
2. [Variables](#variables)
3. [Functions](#functions)
4. [Lists and Loops](#lists-and-loops)
5. [Dictionaries](#dictionaries)
6. [Comparisons and Logic](#comparisons-and-logic)
7. [Conditionals](#conditionals)
8. [Working with Files](#working-with-files)
9. [Working with CSV Data](#working-with-csv-data)
10. [Packages and APIs](#packages-and-apis)

---

## Data Types and Operations

Python has several fundamental data types:

### Basic Data Types

In [2]:
# Integers
age = 25
count = 100

# Floats (decimal numbers)
price = 19.99
temperature = 98.6

# Strings
name = "Alice"
message = 'Hello, World!'

# Booleans
is_active = True
is_complete = False
print(age)

25

### Arithmetic Operations

In [5]:
# Basic arithmetic
result = 10 + 5    # Addition: 15
print(result)
result = 10 - 3    # Subtraction: 7
print(result)
result = 4 * 6     # Multiplication: 24
print(result)
result = 15 / 3    # Division: 5.0
print(result)
result = 17 // 3   # Floor division: 5
print(result)
result = 17 % 3    # Modulus (remainder): 2
print(result)
result = 2 ** 3    # Exponentiation: 8
print(result)

15
7
24
5.0
5
2
8

### String Operations

In [7]:
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name  # Concatenation
greeting = f"Hello, {full_name}!"         # f-string formatting
print(greeting)

Hello, John Doe!

In [8]:
# String methods
text = "  Python Programming  "
print(text.strip())        # Remove whitespace
print(text.lower())        # Convert to lowercase
print(text.upper())        # Convert to uppercase
print(text.replace("Python", "Java"))  # Replace text

Python Programming
  python programming
  PYTHON PROGRAMMING
  Java Programming

---

## Variables

Variables are containers for storing data values.

### Creating Variables

In [9]:
# Variables can store different types
username = "developer"
user_age = 30
is_premium = True
account_balance = 1250.75

print(username)
print(user_age)
print(is_premium)
print(account_balance)

developer
30
True
1250.75

In [10]:
user_info = f"User name: {username}, user age: {user_age}, is the user premium? {is_premium}, user balance: {account_balance}."
print(user_info)

User name: developer, user age: 30, is the user premium? True, user balance: 1250.75.

### Variable Naming Rules

In [ ]:
# Good variable names
user_name = "Alice"
total_count = 100
is_valid = True

# Avoid these (but they're technically valid)
x = "Alice"        # Not descriptive
data1 = 100        # Not clear what data1 represents

---

## Functions

Functions are reusable blocks of code that perform specific tasks.

### Built-in Functions

In [11]:
# Common built-in functions
text = "Hello World"
numbers = [1, 2, 3, 4, 5]

print(len(text))           # Length: 11
print(len(numbers))        # Length: 5
print(max(numbers))        # Maximum: 5
print(min(numbers))        # Minimum: 1
print(sum(numbers))        # Sum: 15
print(round(3.14159, 2))   # Round to 2 decimals: 3.14
print(abs(-10))            # Absolute value: 10

11
5
5
1
15
3.14
10

### Creating Custom Functions

In [12]:
def greet(name):
    """Function to greet a person"""
    return f"Hello, {name}!"

def calculate_rectangle_area(length, width):
    """Calculate rectangle area"""
    area = length * width
    return area

def process_data(data, multiplier=2):
    """Process data with optional multiplier"""
    return [x * multiplier for x in data]

# Using functions
message = greet("Alice")
area = calculate_rectangle_area(10, 5)
processed = process_data([1, 2, 3], 3)

In [13]:
print(message)
print(area)
print(processed)

Hello, Alice!
50
[3, 6, 9]

In [20]:
def print_stuff(text):
    text_multi_10 = text*10
    return text_multi_10

In [16]:
print_stuff("I am talking about Python basics!")

I am talking about Python basics!I am talking about Python basics!I am talking about Python basics!I am talking about Python basics!I am talking about Python basics!I am talking about Python basics!I am talking about Python basics!I am talking about Python basics!I am talking about Python basics!I am talking about Python basics!

In [21]:
variable_text_stuff = print_stuff("hi")

In [22]:
print(variable_text_stuff)

hihihihihihihihihihi

---

## Lists and Loops

Lists store multiple items in a single variable.

### Creating and Using Lists

In [24]:
# Creating lists
fruits = ["apple", "banana", "orange"]
numbers = [1, 2, 3, 4, 5]
mixed = ["text", 42, True, 3.14]

# Accessing elements (zero-indexed)
first_fruit = fruits[0]     # "apple"
last_fruit = fruits[-1]   # "orange"
print(first_fruit)
print(last_fruit)

apple
orange

In [25]:
# List methods
fruits.append("grape")      # Add to end
fruits

['apple', 'banana', 'orange', 'grape']

In [26]:
fruits.insert(1, "mango")   # Insert at position
fruits

['apple', 'mango', 'banana', 'orange', 'grape']

In [27]:
fruits.remove("banana")     # Remove specific item
fruits

['apple', 'mango', 'orange', 'grape']

In [30]:
popped = fruits.pop()       # Remove and return last item
popped

'grape'

In [32]:
fruits

['apple', 'mango', 'orange']

### For Loops

In [34]:
# Loop through lists
for fruit in fruits:
    print(f"I like {fruit}")

I like apple
I like mango
I like orange

In [35]:
# Loop with index
for i, fruit in enumerate(fruits):
    print(f"{i}: {fruit}")

0: apple
1: mango
2: orange

In [36]:
# Loop through range
for i in range(5):          # 0, 1, 2, 3, 4
    print(f"Number: {i}")

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

In [39]:
for i in range(2, 8, 2):    # 2, 4, 6 (start, stop, step)
    print(f"Even: {i}")

Even: 2
Even: 4
Even: 6

### List Comprehensions

In [40]:
# Create lists efficiently
squares = [x**2 for x in range(5)]
# [0, 1, 4, 9, 16]
squares

[0, 1, 4, 9, 16]

In [42]:
evens = [x for x in range(11) if x % 2 == 0] # [0, 2, 4, 6, 8]
evens

[0, 2, 4, 6, 8, 10]

In [43]:
fruits = ["apple", "orange", "mango"]
uppercased = [fruit.upper() for fruit in fruits]
uppercased

['APPLE', 'ORANGE', 'MANGO']

In [45]:
list_of_clients_to_call = ["lucas", "John", "Maria"]
list_of_numbers_from_clients = ["88879802", "88876654", "99987678"]
for client, number in zip(list_of_clients_to_call, list_of_numbers_from_clients):
    print(f"Client name: {client}.")
    print(f"Client number: {number}")
    print("*****")

Client name: lucas.
Client number: 88879802
*****
Client name: John.
Client number: 88876654
*****
Client name: Maria.
Client number: 99987678
*****

---

## Dictionaries

Dictionaries store data in key-value pairs.

### Creating and Using Dictionaries

In [46]:
clients_numbers = {
    "lucas": "88879802",
    "John": "88876654",
    "Maria": "99987678"
}
type(clients_numbers)

dict

In [47]:
# Creating dictionaries
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "is_student": False
}

In [51]:

# Accessing values
name = person["name"]                    # "Alice"
age = person.get("age", 0)              # 30 (with default)
country = person.get("country", "Unknown") # "Unknown" (key doesn't exist)

# Adding/updating values
person["email"] = "alice@email.com"     # Add new key
person

{'name': 'Alice',
 'age': 30,
 'city': 'New York',
 'is_student': False,
 'email': 'alice@email.com'}

In [52]:
person["age"] = 31                      # Update existing

person

{'name': 'Alice',
 'age': 31,
 'city': 'New York',
 'is_student': False,
 'email': 'alice@email.com'}

In [53]:
# Dictionary methods
keys = person.keys()                    # Get all keys
print(keys)
values = person.values()                # Get all values
print(values)
items = person.items()                  # Get key-value pairs
print(items)

dict_keys(['name', 'age', 'city', 'is_student', 'email'])
dict_values(['Alice', 31, 'New York', False, 'alice@email.com'])
dict_items([('name', 'Alice'), ('age', 31), ('city', 'New York'), ('is_student', False), ('email', 'alice@email.com')])

### Working with Dictionaries

In [55]:
# Loop through dictionaries
for key in person:
    print(f"{key}: {person[key]}")
print("****")
for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 31
city: New York
is_student: False
email: alice@email.com
****
name: Alice
age: 31
city: New York
is_student: False
email: alice@email.com

In [57]:
# Dictionary comprehension
squared_dict = {x: x**2 for x in range(5)}  # {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
squared_dict

list_of_clients_to_call = ["lucas", "John", "Maria"]
list_of_numbers_from_clients = ["88879802", "88876654", "99987678"]
string_dict = {name: number for name,number in zip(list_of_clients_to_call, list_of_numbers_from_clients)}
string_dict

{'lucas': '88879802', 'John': '88876654', 'Maria': '99987678'}

---

## Comparisons and Logic

### Comparison Operators

In [ ]:
# Fake buying agent buys a product if the price is below a threshold
product_name = "playstation 6"
price_threshold = 400
price_product = 350

if price_product<=price_threshold:
    print(f"Agent buying product: {product_name}")
else:
    print("no go")

In [58]:
# Basic comparisons
print(5 == 5)    # True (equal)
print(5 != 3)    # True (not equal)
print(5 > 3)     # True (greater than)
print(5 < 3)     # False (less than)
print(5 >= 5)    # True (greater than or equal)
print(5 <= 3)    # False (less than or equal)

True
True
True
False
True
False

In [62]:
# String comparisons
print("apple" == "apple")    # True

True

In [66]:
print("apple" < "banana")    # True (alphabetical)

True

### Logical Operators

In [68]:
# and, or, not
age = 25
has_license = True
is_student = False

can_rent_car = age >= 21 and has_license           # True
can_rent_car

True

In [69]:
gets_discount = age < 25 or is_student             # False
gets_discount

False

In [71]:
age = 17
is_adult = not (age < 18)                          # True
is_adult

False

In [72]:
# Checking membership
fruits = ["apple", "banana", "orange"]
print("apple" in fruits)        # True
print("grape" not in fruits)    # True

True
True

---

## Conditionals

Control program flow with if statements.

### Basic If Statements

In [73]:
age = 20

if age >= 18:
    print("You are an adult")
    
if age < 21:
    print("You cannot drink alcohol in the US")

You are an adult
You cannot drink alcohol in the US

### If-Else Statements

In [75]:
temperature = 85

if temperature > 80:
    print("It's hot outside")
else:
    print("It's not too hot")

It's hot outside

### If-Elif-Else Chains

In [76]:
score = 85

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"Your grade is: {grade}")

Your grade is: B

In [83]:
score = 100
match score:
    case 100:
        print("perfect")
    case 90:
        print("almost perfect")

perfect

### Complex Conditions

In [ ]:
username = "admin"
password = "secret123"
is_active = True

if username == "admin" and password == "secret123" and is_active:
    print("Access granted")
elif not is_active:
    print("Account is deactivated")
else:
    print("Invalid credentials")

---

## Working with Files

### Reading Files

In [ ]:
# Read entire file
with open("data.txt", "r") as file:
    content = file.read()
    print(content)

# Read line by line
with open("data.txt", "r") as file:
    for line in file:
        print(line.strip())  # strip() removes newline characters

# Read all lines into a list
with open("data.txt", "r") as file:
    lines = file.readlines()

### Writing Files

In [84]:
# Write to file (overwrites existing content)
with open("output.txt", "w") as file:
    file.write("Hello, World!\n")
    file.write("This is a new line.\n")

In [85]:
with open("output.txt", "r") as file:
    data = file.read()

print(data)

Hello, World!
This is a new line.

In [86]:
# Append to file
with open("output.txt", "a") as file:
    file.write("This line is appended.\n")

In [87]:
with open("output.txt", "r") as file:
    data = file.read()

print(data)

Hello, World!
This is a new line.
This line is appended.

In [88]:
# Write multiple lines
lines = ["Line 1\n", "Line 2\n", "Line 3\n"]
with open("output.txt", "w") as file:
    file.writelines(lines)

In [89]:
with open("output.txt", "r") as file:
    data = file.read()

In [90]:
data

'Line 1\nLine 2\nLine 3\n'

### File Handling Best Practices

In [92]:
import os

filename="output.txt"
# Check if file exists
if os.path.exists(filename):
    with open(filename, "r") as file:
        content = file.read()
else:
    print("File not found")

In [93]:
content

'Line 1\nLine 2\nLine 3\n'

In [100]:
from datetime import datetime
# Get file information
file_size = os.path.getsize("output.txt")
file_size
# Get file information
file_modified = os.path.getmtime("output.txt")
datetime.fromtimestamp(file_modified)

datetime.datetime(2025, 6, 3, 15, 42, 41, 561349)

---

## Working with CSV Data

### Writing/Reading CSV Files

In [110]:
import csv

# Write CSV from list of lists
data = [
    ["Name", "Age", "City"],
    ["Alice", "30", "New York"],
    ["Bob", "25", "Los Angeles"]
]

with open("data.csv", "w", newline="") as file:
    csv_writer = csv.writer(file)
    csv_writer.writerows(data)

In [112]:
# Read CSV and print each row
with open("data.csv", "r", newline="") as file:
    csv_reader = csv.reader(file)
    for row in csv_reader:
        print(row)

['Name', 'Age', 'City']
['Alice', '30', 'New York']
['Bob', '25', 'Los Angeles']

### Processing CSV Data

In [114]:
import csv

data = [
    ["name", "age", "city"],
    ["Alice", "30", "New York"],
    ["Bob", "17", "Los Angeles"],
    ["Charlie", "22", "Chicago"],
    ["Diana", "16", "Boston"],
    ["Eve", "45", "San Francisco"],
    ["Frank", "18", "Houston"]
]

with open("people.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [115]:
import csv

# Filter and process CSV data
adults = []
with open("people.csv", "r") as file:
    csv_reader = csv.DictReader(file)
    
    for row in csv_reader:
        if int(row["age"]) >= 18:
            adults.append(row)

# Calculate statistics
ages = []
with open("people.csv", "r") as file:
    csv_reader = csv.DictReader(file)
    
    for row in csv_reader:
        ages.append(int(row["age"]))

average_age = sum(ages) / len(ages)
print(f"Average age: {average_age:.1f}")

Average age: 24.7

In [2]:
import pandas as pd

# Read CSV into a DataFrame
df = pd.read_csv("people.csv")

# Filter adults (age >= 18)
adults = df[df["age"] >= 18]

# Calculate average age
average_age = df["age"].mean()

print(f"Average age: {average_age:.1f}")

Average age: 24.7

In [3]:
df

      name  age           city
0    Alice   30       New York
1      Bob   17    Los Angeles
2  Charlie   22        Chicago
3    Diana   16         Boston
4      Eve   45  San Francisco
5    Frank   18        Houston

---

## Packages and APIs

### Built-in Packages

In [5]:
# Math operations
import math

print(math.sqrt(16))        # 4.0
print(math.pi)              # 3.141592653589793
print(math.ceil(4.2))       # 5 (round up)
print(math.floor(4.8))      # 4 (round down)

# Random operations
import random

print(random.randint(1, 10))           # Random integer between 1 and 10
print(random.choice(["a", "b", "c"]))  # Random choice from list
random.shuffle([1, 2, 3, 4, 5])        # Shuffle list in place

# Date and time
from datetime import datetime, date

now = datetime.now()
today = date.today()
print(f"Current time: {now}")
print(f"Today's date: {today}")

### Working with APIs

In [7]:
import requests
import json

# Make API request
response = requests.get("https://api.github.com/users/octocat")

if response.status_code == 200:
    data = response.json()
    print(f"Username: {data['login']}")
    print(f"Public repos: {data['public_repos']}")
else:
    print("API request failed")

# POST request with data
data = {"name": "John", "email": "john@example.com"}
response = requests.post("https://api.example.com/users", json=data)

Username: octocat
Public repos: 8

### Package Installation and Import

In [ ]:
# Install packages using pip (in terminal):
# pip install requests
# pip install pandas
# pip install matplotlib

# Import installed packages
import requests
import pandas as pd
import matplotlib.pyplot as plt

# Import specific functions
from datetime import datetimez
from math import sqrt, pi
from random import choice, randint

---

## Putting It All Together: Example Project

Here's a complete example that combines multiple concepts:

Ask the user to enter a number. Write a program that checks if the number is even or odd and prints the result.

In [32]:
input_num = input("give me a number")

print(type(input_num))

input_num_integer = int(input_num)

if input_num_integer%2==0:
    print("is even!")
else:
    print("is odd!")

give me a number 3

<class 'str'>
is odd!

---

## Summary

You've learned the core Python concepts:

1. **Data Types**: integers, floats, strings, booleans
2. **Variables**: storing and manipulating data
3. **Functions**: organizing reusable code
4. **Lists**: managing collections of data
5. **Dictionaries**: storing key-value pairs
6. **Logic**: comparisons and conditional statements
7. **File I/O**: reading and writing files
8. **CSV handling**: working with structured data
9. **Packages**: using built-in and external libraries

These fundamentals provide the foundation for automation, data analysis, web development, and countless other programming tasks. Practice combining these concepts to build real-world applications!